<!DOCTYPE html>
<html>
<head>
    <title>One Time data-binding</title>
	<meta charset="utf-8" />
    <!--Imports section-->
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/jquery-2.2.1.js"></script>
    <script src="../js/knockout-3.4.0.js"></script>
    <script src="../js/Model/ContactInfoPassiveModel.js"></script>
    <script src="../js/ViewModel/OneTimeViewModel.js"></script>
    <!--End imports section-->
</head>
<body>
    <div class="panel-heading bg-primary text-center">
        <h2>
            One Time Binding
        </h2>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading bg-primary">
                        <h3>Data Origin</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 col-md-4" for="name">Name</label>
                                <div class="col-xs-12 col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="name" data-bind="value: model.name" placeholder="Enter your first name" required /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 col-md-4" for="surname">Surname</label>
                                <div class="col-xs-12 col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="surname" data-bind="value: model.surname" placeholder="Enter your last name" required /><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 col-md-4" for="phone">Phone number</label>
                                <div class="col-xs-12 col-sm-9 col-md-8">
                                    <input type="text" class="form-control" id="phone" data-bind="value: model.phone" placeholder="Enter your phone number" required /><br />
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="panel-heading bg-primary">
                        <h3>Data Panel</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>                                
                                <strong>Name:</strong>
                                <span data-bind="text:model.name"></span><br />
                                <strong>Surname:</strong>
                                <span data-bind="text:model.surname"></span><br />
                                <strong>Phone:</strong>
                                <span data-bind="text:model.phone"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        /*Super important this script must be added after all the doom or
        else js won't find the properties of the binding*/
        var model = ContactInfoModel('John', 'Doe', '555-213-213');
        var oneTimeViewModel = new OneTimeViewModel(model);
        ko.applyBindings(oneTimeViewModel);

    </script>
</body>
</html>
