<link rel="stylesheet" href="~/Content/bootsrapCalendar/bootstrap-responsive.css">
<link rel="stylesheet" href="~/Content/bootsrapCalendar/calendar.css">
<!--found at https://github.com/Serhioromano/bootstrap-calendar-->
<style type="text/css">

</style>
<div class="panel">
    <div class="panel-heading nstp-panel-heading">
        Up comming events
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sabado</th>
                    <th>Domingo</th>
                </tr>
                <tr>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">1</p>
                        <h5>No Event yet</h5>
                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">2</p>
                        <h5 class="nstp-panel-heading" >Angular.js</h5>
                        <p class="text-center">Es un evento del track web front end</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">3</p>
                        <h5>No Event yet</h5>
                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">4</p>
                        <h5 class="nstp-panel-heading">KO.js MVVM web</h5>

                        <p class="text-center">Evento de trank de arquitectura i front end web</p>
                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">5</p>
                        <h5>No Event yet</h5>

                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-1">
                        <p class="text-right">6</p>
                        <h5>Holyday</h5>
                        <p class="text-center">Holiday</p>

                    </td>
                    <td class="col-xs-12 col-sm-1">
                        <p class="text-right">7</p>
                        <h5>Holiday</h5>
                        <p class="text-center">Holiday</p>

                    </td>
                </tr>
                <tr>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">8</p>
                        <h5>No Event yet</h5>
                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">9</p>
                        <h5>No Event</h5>
                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">10</p>
                        <h5>No Event yet</h5>
                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">11</p>
                        <h5>No Event</h5>

                        <p class="text-center">No Event</p>
                    </td>
                    <td class="col-xs-12 col-sm-2">
                        <p class="text-right">13</p>
                        <h5>No Event yet</h5>

                        <p class="text-center">No Event</p>

                    </td>
                    <td class="col-xs-12 col-sm-1">
                        <p class="text-right">14</p>
                        <h5>Holyday</h5>
                        <p class="text-center">Holiday</p>

                    </td>
                    <td class="col-xs-12 col-sm-1">
                        <p class="text-right">15</p>
                        <h5>Holiday</h5>
                        <p class="text-center">Holiday</p>

                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>

