
<div class="col-xs-12 col-sm-5 nstp-panel-heading" id="loginView" data-bind="visible: isLogin">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            Email
            <div class="form-group">
                <div class="input-group">
                    <input type="email" placeholder="Enter your email address" class="form-control" required data-bind="value: Email">
                    <span class="input-group-addon" data-bind="click: clearEmail">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-4">
            Password
            <div class="form-group">
                <div class="input-group">
                    <input type="password" placeholder="Enter your password" class="form-control" required data-bind="value: Password">
                    <span class="input-group-addon" data-bind="click: clearPassword">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
               </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="btn btn-nstp">Login</button>
        </div>
    </div>
</div>

