<img src="https://pbs.twimg.com/profile_images/1882361234/Logo2_400x400.png" class="nstp-thum-img visible-sm visible-lg visible-md col-sm-4" />
<div class="form-group has-success has-feedback col-sm-8">
    
    @*<input type="text" class="form-control" placeholder="Search for...">
    <button class="form-control-feedback  glyphicon glyphicon-search" type="button"></button>*@
    <div class="form-group has-warning has-feedback">
        <input type="text" placeholder="Search for..." class="form-control"  aria-describedby="inputSearchClearStatus" required data-bind="value: SearchText">
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        <span id="inputSearchClearStatus" class="sr-only">(error)</span>
    </div>
    
</div><!-- /input-group -->